Django==5.2
djangorestframework==3.16.0
asgiref==3.8.1
sqlparse==0.5.3
pandas==2.2.3
numpy==1.26.4
scikit-learn==1.3.2
scipy==1.11.4
matplotlib==3.10.1
seaborn==0.13.2
Pillow==11.2.1
requests==2.32.3
gTTS==2.5.4
SpeechRecognition==3.14.2
googletrans==4.0.0rc1
word2number==1.1
whitenoise
gunicorn
opencv-python-headless
jinja2
beautifulsoup4
six
certifi
urllib3
pytz
tzdata
python-dateutil
joblib
psutil
anyio
click
h11
hstspreload
httpcore
httpx
sniffio
asgiref
typing_extensions
cycler
fonttools
kiwisolver
packaging
pyparsing
MarkupSafe
soupsieve
webcolors
word2number
